Django==1.4.2
Jinja2==2.7.1
MarkupSafe==0.18
PIL==1.1.7
Pygments==1.4
South==0.7.3
argparse==1.2.1
distribute==0.6.49
django-debug-toolbar==0.10.2
django-extensions==0.4.1
django-haystack==1.0.1-final
django-pagination==1.0.7
django-profiles==0.2
django-registration==0.7
django-tagging==0.3
psycopg2==2.4.4
python-memcached==1.45
raven==3.4.1
recaptcha-client==1.0.5
sqlparse==0.1.10
virtualenv==1.4.4
wsgiref==0.1.2
