Django==1.6.1
Jinja2==2.7.1
MarkupSafe==0.18
Pillow==2.2.2
Pygments==1.6
South==0.8.4
argparse==1.2.1
coverage==3.7
setuptools==2.0.1
django-debug-toolbar==0.10.2
django-discover-runner==1.0
django-discoverage==1.0.0
django-extensions==1.2.5
django-haystack==1.0.1-final
django-pagination==1.0.7
django-profiles==0.2
django-registration==1.0
django-tagging==0.3
flake8==2.1.0
ipdb==0.8
ipython==1.1.0
mccabe==0.2.1
pep8==1.4.6
psycopg2==2.5.1
pyflakes==0.7.3
python-memcached==1.53
raven==3.4.1
recaptcha-client==1.0.5
six==1.4.1
sqlparse==0.1.10
virtualenv==1.10.1
wsgiref==0.1.2
