{% extends "base.html" %}

{% block title %}rejestracja zakonczona sukcesem{% endblock %}

{% block layout%}fixed{% endblock %}

{% block content %}
<div id="content">
<h1>Rejestracja zakończona sukcesem</h1>
<p>Dziękujemy za rejestrację. Aby aktywować swoje konto kliknij w link, który wysłaliśmy do Ciebie na podany e-mail</p>
<p class="skrypt-url">UWAGA!</p>
<p class="metalink orange">Dla pewności sprawdź folder "SPAM" w swoim kliencie pocztowym, Jeżeli również tam nie ma naszego e-maila, lub link z neigo nie działa, skontaktuj się z nami: <a href="mailto:support@wklej.org">support@wklej.org</a></p>
</div>
{% endblock %}


