<style type="text/css">
    body {
    background: #a34;
    color: #fff;
    font-size: 16px;
    font-family: "Arial";
    }

    a { color: #fff; }
</style>

<h1 style="text-align:center;font-size:25px;">500!</h1>
<div style="text-align:center">{% trans '500.title' %}</div>
<div style="text-align:center;font-size:40px;font-weight:bold"><a href="/">{% trans 'homepage' %}</a></div>

<pre class="dupa" style="background: white; color: black; text-align: center; margin-right:auto; margin-left:auto;margin-top: 10px;width: 600px;">

once upon a midnight dreary,
while i porn surfed, weak and weary,
over many a strange and spurious site of 'hot chicks galore'.

While i clicked my fav'rite bookmark,
Suddenly there came a warning,
And my heart was filled with mourning,
Mourning for my dear amour.

'Tis not possible!, I pleaded,
But my browser, so conceited,
Remained blank, I then repeated,
Just a blank and nothing more.

With a scream, I was defeated,
For my cookies were deleted,
So i begged, no longer seated,
Give me back my free hardcore!

Then, in answer to my query,
Through the net I loved so dearly,
Came its answer, dark and dreary:
Quoth the server, 500

</pre>            


