{% extends "base.html" %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block layout%}fixed{%endblock %}

{% block content %}
<style type="text/css">
    ol li {
        list-style-type: decimal; margin-left: 2em; line-height: 1.7em; 
        font-size: 1.2em; margin-bottom: 1em;
    }
</style>
<div class="module alignc">
    <h1>Terms of Use</h1>
</div>
<div class="module top10px">
    <ol>
        <li>
        By using wklej.org you accept this Terms of Use.
        </li>

        <li>
        Pasties posted on wklej.org are owned by submitters/authors.
        </li>

        <li>
        Wklej.org is not responsible for the content of Pasties.
        </li>

        <li>
        Make sure your posts don't violate copyright laws, contain private
        information and are consistent with local law.
        </li>

        <li>
        Make sure that you are either the author of the content or have a
        necessary permissions to publish it.
        </li>

        <li>
        You are fully responsible for the damage that can be caused by your
        content.
        </li>

        <li>
        Pasties reported as abuse will be removed.
        </li>

        <li>
        wklej.org reserves the right to make changes to this document without
        informing the users.
        </li>
    </ol>
</div>
{% endblock %}

