{% extends "base.html" %}
{% load webdesign i18n %}

{% block title %}{% trans "pastie" %} #{{ w.id }}{% endblock %}

{% block content %}
    {% if w.is_deleted %}
        <div id="content" style="text-align:center;font-size:20px;font-weight:bold">
            {% trans "single.removed" %}<br/>
            {% trans "single.redirecting" %}
        </div>
        <meta http-equiv="REFRESH" content="2;url=/own/" />
    {% else %}
        <div class="bottom20px">
            <p class="left">
                <strong>
                    {{ w.author }}
                </strong> /
                <span class="date" title="{{ w.pub_date|date:"H:i d-m-Y" }}">
                    {{ w.pub_date|timesince }} {% trans "ago" %}
                </span> |
                <a href='./dl/'>{% trans "single.download" %}</a> |
                <a href='./txt/'>{% trans "single.plaintext" %}</a> |
                {% if w.is_public %}
                    <a href='./re/?s=1'>{% trans "single.reply" %}</a> |
                {% endif %}
                {% if user.is_staff %}
                    <a href='/admin/wklej/wklejka/{{ w.id }}/'>{% trans "single.moderate" %}</a>
                {% endif %}
            </p>

            <form action="." method="GET" id="choose_syntax_form" class="right">
                {{ rsform }}
                <input type="submit" value="zmień">
            </form>
            <div class="clear"></div>
        </div>

        {% load kolorki %}
        <div class="wklejcontent">
            {% autoescape off %}
                {% code hl %}{{ w.body }}{% endcode %}
            {% endautoescape %}
        </div>
    {% endif %}
{% endblock %}
